
<table class="table table-hover leaderboard">
  <tr>
	<th>Rank</th>
    <th>Email Id</th>
    <th>Score</th>
	<th>Best performance in</th>
  </tr>
  <% @leaderboard.each do |board| %>
    <tr>
	  <td></td>
      <td><%= board.email %></td>
      <td><%= board.score %></td>
	  <td><%= board.tag %></td>
    </tr>
  <% end %>
</table>