<div class="hero-unit">
  <h1>Hello, world!</h1>
  <p>This is a simple Trivia game, a simple application to create/answer questions by category and contest on to the Leader board.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>